@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic&subset=latin,cyrillic);

/*
========================================================================
BLOG :: Body
========================================================================
*/

body {
	font-family: 'Open Sans',arial,sans-serif;
	background-color: #FFFFFF;
	color: #666666;
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}

#container {
    margin: 0 auto;
    max-width: 900px;
    min-width: 600px;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
	color: #33AAFF;
	text-decoration: underline;
}

/*
========================================================================
BLOG :: Head
========================================================================
*/

#head {
	background: -moz-linear-gradient(center top , #FAFAFA, #F5F5F5) repeat scroll 0 0 #F5F5F5;
	border-bottom: 1px solid #EEEEEE;
	color: #444444;
	font-size: 3em;
	font-weight: lighter;
	line-height: 140px;
	margin-bottom: 30px;
}

#head	div.wrap {
    margin: 0 auto;
    max-width: 900px;
    min-width: 600px;
}

#head	a.name {
	color: #63666A;
	text-decoration: none;
}

#head	span.slogan {
	color: #63666A;
}


/*
========================================================================
BLOG :: Main
========================================================================
*/

#main {
    margin: 0 auto;
    overflow: auto;
}

#left {
	font-size: 1.32em;
    margin-right: 260px;
}

#sidebar {
	float: right;
	margin-right: 10px;
	width: 220px;
	font-size: 1.2em;
}

/*
========================================================================
BLOG :: Footer
========================================================================
*/

#foot {
	width:100%;
	text-align: right;
	font-size: 1.1em;
	margin: 30px 0;
}

/*
========================================================================
BLOG :: Page 404
========================================================================
*/

div.page_404 {

}

/*
========================================================================
BLOG :: Pager
========================================================================
*/

#pager {
	overflow: auto;
	text-align: center;
	background: url('img/pager.png') repeat;
}

#pager	a.newer {
	float: right;
	background: #FFFFFF;
	padding: 0 5px;
}

#pager	a.older {
	float: left;
	background: #FFFFFF;
	padding: 0 5px;
}

#pager	a.home {
	background: #FFFFFF;
	padding: 0 5px;
}
