/*
========================================================================
BLOG :: Body
========================================================================
*/

body {
	font-family: sans-serif;
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
	font-size: 62.5%;
	color: #333;
}

a {
	color: #006AC8;
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#about {
	width: 380px;
	margin: 50px auto;
}

#about	div.logo {
	background: url("img/logo.png") no-repeat;
	height: 130px;
	padding-left: 160px;
	overflow: auto;
}

#about	h1 {
	font-size: 3em;
	font-weight: normal;
	margin: 35px 0 0;
}

#about	h2 {
	font-size: 2em;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

/*
========================================================================
BLOG :: Footer
========================================================================
*/

#blog-foot {
	text-align: right;
	font-size: 1.3em;
	margin: 50px 30px 20px 0;
}

/*
========================================================================
BLOG :: Page 404
========================================================================
*/

div.page_404 {

}

/*
========================================================================
BLOG :: Pager
========================================================================
*/

#pager {
    font-size: 1.4em;
    margin: 0px auto;
    overflow: auto;
    text-align: center;
    width: 1024px;
}

#pager	a.next-page {
	float: right;
	background: #EEE;
	padding: 10px;
	border-radius: 2px;
}

#pager	a.prev-page {
	float: left;
	background: #EEE;
	padding: 10px;
	border-radius: 2px;
}

/*
========================================================================
Nibbleblog Styles
========================================================================
*/

.nb-code {
	border-style: solid !important;
}

.nb-console {
    background: url("img/console.png") no-repeat scroll 8px 8px #F1F1F1;
    display: block;
    line-height: 24px;
    margin: 5px 0;
    overflow: auto;
    padding-left: 38px;
    white-space: nowrap;
    border: 1px solid #ccc !important;
}

.nb-align-left {
	float:left;
	margin:0 1em 1em 0;
}

.nb-align-right {
	float:right;
	margin:0 0 1em 1em;
}

.nb-align-center {
	display:block;
	margin:0 auto 1em;
}