/* ============================== */
/* BODY */
/* ============================== */
body {
	font-family: helvetica,arial,sans-serif;
	margin: 0;
	padding: 0;
	font-size:12px;
	color: #333333;
	background-color: #FEFEFE;
	font-size: 62.5%;
}

#container {
	background: none repeat scroll 0 0 #F9F9F9;
	border: 1px solid #EEEEEE;
	border-radius: 3px 3px 3px 3px;
	margin: 130px auto 0;
	padding: 50px;
	max-width: 400px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
}

footer {
	font-size: 14px;
	text-align: center;
	border-top: 1px dotted #ccc;
}

#alert {
    color: #BE1C54;
    font-size: 14px;
    margin-bottom: 20px;
}

div.title {
	color: #666;
	font-size: 22px;
	margin-bottom: 20px;
}

a {
	color: #3C6EB4;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

a.forgot_password {
	margin-left: 15px;
}


/* ============================== */
/* FORMS */
/* ============================== */
div.form_block {
	overflow:auto;
	margin: 15px 0;
	line-height: 28px;
}

input[type="text"],
input[type="password"],
textarea {
    color: #858585;
    font-size: 15px;
    padding: 8px 0px;
    width: 100%;
    background: transparent;
    border-bottom: 1px solid #ccc;
    border-top:0;
    border-right:0;
    border-left:0;
    outline:none; /* not focus border on chrome */
}

input[type="checkbox"].float {
	vertical-align: middle;
	margin-right: 5px;
	margin-bottom: 2px;
}

label {
	color: #333;
	font-size: 1.3em;
}

label.remember {
	color: #999999;
}

label.blocked {
	display:block;
}

div.input_tip {
	color: #666;
}

input[type="submit"].save {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
    color: #444444;
    cursor: pointer;
    display: inline-block;
    font-size: 1.3em;
    padding: 7px 33px;
	float: right;

	background: #F1F1F1;
	background: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
	background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#F1F1F1));
}

input[type="submit"].save:hover {
	background: #E1E1E1;
	background: -moz-linear-gradient(center top , #EFEFEF, #E1E1E1);
	background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#E1E1E1));
}
