AddDefaultCharset UTF-8

# Disable directory browsing
Options -Indexes

# Disable Magic Quotes
<IfModule mod_php5.c>
 php_flag magic_quotes_gpc off
</IfModule>

# Secure .xml files
<FilesMatch ".(xml)$">
 Order Allow,Deny
 Deny from all
</FilesMatch>

# Secure shadow.php
<Files shadow.php>
 order allow,deny
 deny from all
</Files>

# Secure keys.php
<Files keys.php>
 order allow,deny
 deny from all
</Files>

