
/* ============================== */
/* BODY */
/* ============================== */

body {
	font-family: helvetica,arial,sans-serif;
	background-color: #FEFEFE;
	margin: 0;
	padding: 0;
	font-size:14px;
	color: #616161;
}

#container {
	margin: 0 auto;
	width: 940px;
}

a {
	color: #3C6EB4;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

pre {
	background: url("img/bgcode.png");
	border: 1px solid #E8E8E8;
	font-size: 12px;
	line-height: 23px;
	margin: 0;
	padding: 0 5px 0 5px;
	white-space: pre-wrap;
	width: 75%;
}

.console {
	background: url("img/console.png") no-repeat scroll 10px center #F1F1F1;
	display: block;
	line-height: 50px;
	margin: 5px 0;
	padding-left: 60px;
	width:70%;
}

img {
	max-width:910px;
	padding: 4px;
	border: 1px solid #f1f1f1;
}

/* ============================== */
/* HEADER */
/* ============================== */
#head {
	overflow: auto;
	margin: 30px 0;
}

#head	div.left {
	float: left;
}

#head	div.right {
	float: right;
	width: 370px;
}

#head	a.name {
	font-size: 32px;
	color: #616161;
	text-decoration: none;
	display: block;
	font-weight: bold;
}

#head	a.slogan {
	font-size: 22px;
	color: #616161;
	text-decoration: none;
	display: block;
}

/* ============================== */
/* PLUGIN TWITTER */
/* ============================== */
div.plugin_twitter {
    background: url("img/twitter.png") no-repeat scroll 0 -5px transparent;
    padding-left: 50px;
}

/* ============================== */
/* FOOTER */
/* ============================== */
#foot {
	font-size: 12px;
	text-align: right;
}

/* ============================== */
/* PAGER */
/* ============================== */
#pager {
	overflow: auto;
}

#pager	a.newer {
	float: right;
}

#pager	a.older {
	float: left;
}

/* ============================== */
/* POST VIEW*/
/* ============================== */
article.post {
	margin: 30px 0;
}

article.post	header {
	margin-bottom: 10px;
}

article.post	h2.title {
	margin: 0;
	border-bottom: 1px dotted #ccc;
	width: 80%;
}

article.post 	blockquote {
    border-left: 4px solid #BDEE70;
    font-size: 28px;
    margin: 0;
    padding-left: 15px;
    width: 85%;
}

article.post	footer.info {
	font-size: 12px;
	margin-top: 10px;
}

article.post	footer.info	span.date {
	background: url("img/clock.png") no-repeat;
    display: inline-block;
    line-height: 18px;
    margin-right: 10px;
    padding-left: 22px;
}

/* ============================== */
/* COMMENT LIST */
/* ============================== */
#comment_list {
	margin-top: 30px;
	width: 70%;
}

#comment_list	h2 {
	margin: 10px 0;
	font-style: italic;
	font-size: 21px;
}

#comment_list	div.comment {
    margin: 0 0;
    padding: 15px 10px;
}

#comment_list	span.author_name {
	font-weight: bold;
}

#comment_list	span.date {
	margin-left: 5px;
	font-style: italic;
}

#comment_list	span.content {
	font-style: italic;
	display: block;
}

/* ============================== */
/* COMMENT FORM */
/* ============================== */
#comment_form {
	margin-top: 30px;
	width: 70%;
}

#comment_form	h2 {
	margin: 10px 0;
	font-style: italic;
	font-size: 18px;
}

#comment_form	h3.alert {
	margin: 5px 0;
	font-style: italic;
	font-size: 16px;
	color: #BE1C54;
}

#comment_form	input[type="text"],
#comment_form	textarea {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #C4C4C4;
	border-radius: 2px;
	color: #858585;
	padding: 8px;
	outline:none;
	resize: none;
	margin-bottom: 15px;
	font-family: helvetica,arial,sans-serif;
	font-size: 13px;
}

#comment_form	input[type="text"].captcha {
	width: 50%;
	float: left;
}

#comment_form	input[type="submit"] {
	display: block;
	clear: left;
	padding: 3px 8px;
}
