@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic);

/* ============================== */
/* BODY */
/* ============================== */

body {
	font-family: 'Open Sans',arial,sans-serif;
	background-color: #FEFEFE;
	margin: 0;
	padding: 0;
	font-size: 0.875em;
	color: #616161;
}

#container {
	margin: 0 auto;
	width: 60%;
	overflow: auto;
}

#main {
	width:100%;
}

a {
	color: #3C6EB4;
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


/* ============================== */
/* HEADER */
/* ============================== */
#head {
	overflow: auto;
	margin: 40px 0;
}

#head	div.top {
	font-size: 2.4em;
}

#head	div.bottom {

	height: 38px;
}

#head	a.name {
	text-decoration: none;
	color: #555;
}

#head	span.slogan {
	color: #CCC;
}

/* ============================== */
/* HEADER POST */
/* ============================== */
#head_post {
	overflow: auto;
	margin: 10px 0;
	text-align: center;
}

#head_post	a.name {
	text-decoration: none;
	color: #555;
	font-size: 0.9em;
}

#head_post	span.slogan {
	color: #CCC;
}

/* ============================== */
/* FOOTER */
/* ============================== */
#foot {
	text-align: right;
	font-size: 0.9em;
}

/* ============================== */
/* PAGER */
/* ============================== */
#pager {
	overflow: auto;
}

#pager	a.newer {
	float: right;
}

#pager	a.older {
	float: left;
}

/* ============================== */
/* POST VIEW*/
/* ============================== */
article.post {
	margin-bottom: 60px;
	clear: both;
	overflow: auto;
}

article.post	header.post {
	margin-bottom: 10px;
}

article.post	header.post	h1.title {
	font-weight: normal;
	margin: 0;
	font-size: 2.6em;
	text-align: center;
}

article.post	header.post	div.date {
	font-size:0.9em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #999;
}


article.post	pre {
	background: url("img/bgcode.png");
	border: 1px solid #E8E8E8;
	line-height: 23px;
	margin: 0;
	padding: 0 5px 0 5px;
	white-space: pre-wrap;
	font-size: 0.9em;
}

article.post	.console {
	background: url("img/console.png") no-repeat scroll 10px center #F1F1F1;
	display: block;
	line-height: 50px;
	margin: 5px 0;
	padding-left: 60px;
}

article.post	img:not(.captcha) {
	max-width:100%;
}

article.post 	blockquote {
	font-size: 2em;
	margin: 0 auto;
	width: 85%;
}

article.post	footer.post {
    clear: both;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
}

/* ============================== */
/* COMMENT LIST */
/* ============================== */
#comment_list {
	margin-top: 30px;
	width: 70%;
}

#comment_list	h2 {
	font-style: italic;
	font-weight: normal;
	margin: 10px 0;
}

#comment_list	div.comment {
	border-left: 2px solid #FFAC00;
	margin: 0 0 10px;
	padding: 10px;
}

#comment_list	span.author_name {
	font-weight: bold;
}

#comment_list	span.date {
	margin-left: 5px;
	font-style: italic;
}

#comment_list	span.content {
	font-style: italic;
	display: block;
}

/* ============================== */
/* COMMENT FORM */
/* ============================== */
#comment_form {
	margin-top: 30px;
	width: 70%;
}

#comment_form	h2 {
	font-style: italic;
	font-weight: normal;
	margin: 10px 0;
}

#comment_form	h3.alert {
	color: #BE1C54;
	font-size: 16px;
	font-style: italic;
	margin: 0 0 15px;
}

#comment_form	input[type="text"],
#comment_form	textarea {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #C4C4C4;
	border-radius: 2px;
	color: #858585;
	padding: 8px;
	outline:none;
	resize: none;
	margin-bottom: 15px;
	font-family: font-family: 'Open Sans', helvetica,arial,sans-serif;
	font-size: 13px;
}

#comment_form	input[type="text"].captcha {
	width: 50%;
	float: left;
}

#comment_form	input[type="submit"] {
	display: block;
	clear: left;
	padding: 3px 8px;
}

/* ============================== */
/* PLUGIN TWITTER */
/* ============================== */
div.plugin_twitter {
	padding: 0;
	margin: 0;
}

div.plugin_twitter	ul {
	margin: 0;
	padding: 0;
}

div.plugin_twitter	li {
	margin: 0;
	padding: 0;
	display: inline;
}

div.plugin_twitter	li.username {
	background: url("img/twitter.png") no-repeat 0 -2px;
	margin-right: 5px;
	padding-left: 23px;
}
