article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,dialog,summary{display:block}audio[controls],canvas,video{display:inline-block;*display:inline;zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}html{height:100%;font-size:100%;overflow-y:scroll;font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{margin:0;min-height:100%;-webkit-font-smoothing:antialiased;font-smoothing:antialiased;text-rendering:optimizeLegibility}body,button,input,select,textarea{font-size:100%;*font-size:1em;line-height:1.6em}p,blockquote,q,pre,address,hr,code,samp,dl,ol,ul,form,table,fieldset,menu,img{margin:0 0 1.5em;padding:0}h1,h2,h3,h4,h5,h6,p,ul,blockquote,pre,td,th,label,small{margin:0}h1{font-size:2.75em;line-height:1.2em;margin-bottom:0.4em}h2{font-size:2em;line-height:1em;margin-bottom:0.5em}h3{font-size:1.75em;line-height:1.33em;margin-bottom:0.6667em}h4{font-size:1.25em;line-height:1em;margin-bottom:1em}h5{font-size:1em;line-height:1.142em;margin-bottom:1.142em}h6{font-size:0.9em;line-height:1.33em;margin-bottom:1.33em}p,ul,blockquote,pre,td,th,label{font-size:1em;line-height:1.5em;margin-bottom:1.5em}small{font-size:0.875em;line-height:1.714em;margin-bottom:1.714em}pre{padding:0.5em;white-space:pre;white-space:pre-wrap;word-wrap:break-word}pre,code,kbd,samp{font-size:1em;line-height:1.5em;margin-bottom:1.5em}table{border-collapse:collapse;border-spacing:0;margin-bottom:1.5em}th{text-align:left}tr,th,td{padding-right:1.5em}form{margin:0}fieldset{margin:0 2px;padding:0.35em 0.625em 0.75em}textarea{overflow:auto;vertical-align:top}legend{border:0;padding:0;*margin-left:-.75em}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal;*overflow:visible}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}blockquote,q,cite{font-style:italic}blockquote{font-size:1.1em;margin:2em 0}cite{font-size:0.8em}blockquote > p{padding:0}ul,ol{list-style-position:inside;padding:0}li ul,li ol{margin:0 1.5em}dl dd{margin-left:1.5em}strong,b,dt{font-weight:700}dfn{font-style:italic}var,address{font-style:normal}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}figure{margin:0}img,object,embed,video{max-width:100%;_width:100%}img{height:auto;border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}abbr[title],dfn[title]{cursor:help}ins,mark{text-decoration:none}del{text-decoration:line-through}
/************************************************\
	PAGE DESIGN
\************************************************/
html{
	background:#f6f6f6;
	color:#333;
}
body{
	font-family:Cambria,"Hoefler Text",Utopia,"Liberation Serif","Nimbus Roman No9 L Regular",Times,"Times New Roman",serif;
}
h1,h2,h3,h4,h5,h6,blockquote{
	font-weight:300;
}
a{
	color:#ff6600;
	text-decoration:none;
}
a:hover{
	color:#000;
}
header,.plugin_box,article,#pager,#comment_list,#comment_form,footer{
	position:relative;
	max-width:34.9em;	
	padding:0 1em;
	margin:0 auto;
}
.header{
	background:#171717 url(img/header.jpg);
	background-size:cover;
  	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/header.jpg', sizingMethod='scale');
  	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/header.jpg', sizingMethod='scale')";
	padding:1em 0;
}
	header h1{
		font-size:1.5em;
		font-weight:400;
		margin:0;
	}
	header h1 a,header h1 a:hover{
		color:#f6f6f6;
	}
	.plugin_box{
		color:#f6f6f6;
		overflow:auto;
		padding:2em 1em;
	}
	.plugin_box li{
		font-size:0.8em;
		font-weight:300;
		line-height:1.5em;
		list-style:none;
	}
	li.image{
		float:left;
	}
	.plugin_box img{
		margin:0 0.5em 0 0;
		border-radius:50%;
		box-shadow:0 0 5px #000;
	}	
#main{
	background: -moz-linear-gradient(top, rgba(221,221,221,1) 0%, rgba(222,222,222,0) 4%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,221,221,1)), color-stop(4%,rgba(222,222,222,0)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top, rgba(221,221,221,1) 0%,rgba(222,222,222,0) 4%,rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top, rgba(221,221,221,1) 0%,rgba(222,222,222,0) 4%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top, rgba(221,221,221,1) 0%,rgba(222,222,222,0) 4%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(221,221,221,1) 0%,rgba(222,222,222,0) 4%,rgba(255,255,255,0) 100%);
	border-top:1px solid #fff;
	padding-top:2em;
}
	article{
		margin-bottom:2em;
		border-bottom:1px solid #999;
	}
	.post_title{
		font-size:2em;
		margin-bottom:0;
	}
	time{
		font-weight:400;
	}
	.post_content,.video_embed{
		margin:2em 0;
	}
	.post .post_content p:first-child{
		font-size:1.125em;
	}
	.page_404{
		font-size:2em;
		text-align:center;
	}
#pager{
	overflow:auto;
	padding-bottom: 20px;
}

	#pager	a.newer{
		float: right;
	}

	#pager	a.older{
		float: left;
	}
.comment{
	font-size:0.9em;
	line-height:1.4em;
	margin:2em 0 0;
}
	.comment h4{
		margin-bottom:0;
	}
	.comment_content{
		margin:1em 0;
	}

.alert{
	font-weight:400;
	font-style:italic;
	color:#000;
}

footer{
	font-size:0.8em;
	text-align:center;
}
/************************************************\
	FORM DESIGN
\************************************************/
label{
	display:block;
}
input[type="text"],input[type="email"],input[type="url"],input[type="password"],textarea,select{
	width:100%;
	background:#f6f6f6;
	border:transparent;
	border-bottom:1px solid #999;
	color:#171717;
	padding:0.5em;
	outline:none;
	resize:vertical;
	margin-bottom:0.938em;
	font-size:1em;
}
textarea{
	min-height:10em;
	border-bottom:none;
}
input[type="text"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="password"]:focus,textarea:focus,select:focus{
	border-color:#95a5a6;
}
input[type="submit"]{
	border:transparent;
	padding:6px 10px;
	white-space:nowrap;
	vertical-align:middle;
	color:#fff;
	background:transparent;
	cursor:pointer;
	display:block;
	background:#ff6600
}
input[type="submit"]:hover,input[type="submit"]:focus,input[type="submit"]:active{
	background:#000;
}
/************************************************\
	MEDIA QUERIES
\************************************************/
@media all and (min-width:640px){
	body{
		font-size:137.5%;
	}
}
@media all and (max-width:640px){
	body{
		font-size:100%;
	}
	.comment{
		font-size:1em;
	}
}
@media all and (max-width:480px){
	header h1{
		text-align:center;
	}
	.plugin_box li{
		font-size:0.9em;
	}
	li.image{
		float:none;
	}
	.plugin_box img{
		display:block;
		margin:0 auto;
	}
}	
