/*
========================================================================
POST
========================================================================
*/

article.post {
	margin-bottom: 60px;
	overflow: hidden;
	font-size: 1.1em;
}

/*
========================================================================
POST :: Head
========================================================================
*/

article.post	header.post		div.date {
    display: inline-block;
    font-size: 0.9em;
    margin-right: 7px;
}

article.post	header.post		div.category {
    display: inline-block;
    font-size: 0.9em;
    margin-left: 7px;
}

article.post	header.post		h1.title {
	font-size: 2.2em;
	margin: 0;
	color: #7D7B6D;
}

article.post	header.post		h1.title	a {
	color: #7D7B6D;
}

article.post	header.post		h1.title	a:hover {
	color: #EA9629;
	text-decoration: none;
}

/*
========================================================================
POST :: Content
========================================================================
*/

article.post	.console {
    background: url("img/console.png") no-repeat scroll 8px 8px #F1F1F1;
    display: block;
    line-height: 24px;
    margin: 5px 0;
    overflow: auto;
    padding-left: 38px;
    white-space: nowrap;
}

article.post	img:not(.captcha) {
	max-width:100%;
}

article.post	img.align_left {
	margin: 5px 10px 5px 0px;
	float: left;
}

article.post	img.align_right {
	margin: 5px 0px 5px 10px;
	float: right;
}

article.post 	blockquote {
	font-size: 1.1em;
	font-style: italic;

}

article.post	h1,
article.post	h2,
article.post	h3,
article.post	h4,
article.post	h5 {
	font-weight: normal;
	color: #333333;
	margin: 22px 0 13px 0;
	padding: 0;
}

article.post	h1 {
	font-size: 1.8em;
}

article.post	p {
	line-height: 1.5em;
}

article.post	.video_embed {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	margin: 13px 0;
}

article.post	.video_embed iframe,
article.post	.video_embed object,
article.post	.video_embed embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*
========================================================================
POST :: Footer
========================================================================
*/

article.post	footer.post {
	border-bottom: 1px solid #F1F1F1;
	border-top: 1px solid #F1F1F1;
	clear: both;
	font-size: 0.9em;
	margin-top: 20px;
	padding: 10px 0;
}

article.post	footer.post		span {
	margin:0 3px;
}

article.post	footer.post		a {
	font-weight: normal;
}

article.post	footer.post		div.tags {
	max-width: 60%;
	float: right;
}

article.post	footer.post		a.tag {
	padding: 0 6px;
	margin-right: 5px;
	border-radius: 2px;
}


article.post	footer.post		a.tag:hover {
	opacity: 0.8;
	text-decoration: none;
}

/*
========================================================================
POST :: Comments
========================================================================
*/

#comment_list {
	margin-top: 30px;
}

#comment_list	h2 {
	font-weight: normal;
	margin: 10px 0;
}

#comment_list	div.comment {
	border-left: 2px solid #FFAC00;
	margin: 0 0 10px;
	padding: 10px;
	overflow: auto;
}

#comment_list	span.author_name {
	font-weight: bold;
}

#comment_list	span.date {
	margin-left: 10px;
	font-style: italic;
}

#comment_list	span.content {
	display: block;
}

#comment_list	img.avatar {
	float:left;
	margin-right: 10px;
}

/*
========================================================================
POST :: Comments form
========================================================================
*/

#comment_form {
	margin-top: 30px;
	width: 70%;
}

#comment_form	h2 {
	font-weight: normal;
	margin: 10px 0;
}

#comment_form	h3.alert {
	color: #BE1C54;
	font-style: italic;
	margin: 0 0 15px;
}

#comment_form	input[type="text"],
#comment_form	textarea {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #C4C4C4;
	border-radius: 2px;
	color: #858585;
	padding: 8px;
	outline:none;
	resize: none;
	margin-bottom: 15px;
	font-family: font-family: 'Open Sans', helvetica,arial,sans-serif;
	font-size: 0.9em;
}

#comment_form	input[type="text"].captcha {
	width: 50%;
	float: left;
}

#comment_form	input[type="submit"] {
	display: block;
	clear: left;
	padding: 3px 8px;
}

/* For Facebook comments */
.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
	width: 100% !important;
}