/*====================================================================*/
/* BODY
/*====================================================================*/
body {
	font-family: arial, sans-serif;
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
	font-size: 62.5%;
	color: #555;
	overflow-y: scroll;
}

#container {
	width: 100%;
}

a {
	color: #006AC8;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

header.separator {
	border-bottom: 1px solid #DDDDDD;
	margin: 40px 0 20px 0;
}

header.separator_top {
	border-bottom: 1px solid #DDDDDD;
	margin: 0px 0 20px 0;
}

div.separator {
	border-bottom: 4px solid #DDDDDD;
	color: #4C4C4C;
	font-size: 1.9em;
	font-weight: normal;
	line-height: 20px;
	padding: 0 0 10px;
	display: inline-block;
}

#alert {
    background-color: #0DA4D4;
    color: #FFFFFF;
    display: block;
    font-size: 1.3em;
    padding: 16px 0;
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
	display: none;
}

/*====================================================================*/
/* HEAD
/*====================================================================*/
#head {
	margin-top:10px;
}

#head	div.buttons {
	margin-left: 260px;
	margin-right:50px;
	height: 60px;
	overflow: auto;
}

#head	div.buttons		a.button {
	float: left;
	display: block;
	height: 60px;
	width: 90px;
	background-color: #e6e6e6;
	background-position: center center;
	background-repeat: no-repeat;
	border-right: 1px solid rgba(255, 255, 255, 0.2);
}

#head	div.buttons		a.button_r {
	float: right;
	display: block;
	line-height: 60px;
	margin-left: 20px;
	font-size: 1.3em;
	color: #333;
}

#head	div.title {
	font-size: 2.3em;
	background-color: #5FB1D9;
	color: #FFFFFF;
	padding: 22px 0 22px 260px;
	box-shadow: 0 1px 3px #999999;
	border-bottom: 1px solid #999999;
}

.img_button_mrnibbler {
	background-image: url('img/button_mrnibbler.png');
	background-color: #E9E9E9 !important;
}

.img_button_dashboard {
	background-image: url('img/button_dashboard.png');
	background-color: #3890B7 !important;
}

.img_button_post {
	background-image: url('img/button_post.png');
	background-color: #A9B3B7 !important;
}

.img_button_video {
	background-image: url('img/button_video.png');
	background-color: #A9B3B7 !important;
}

.img_button_quote {
	background-image: url('img/button_quote.png');
	background-color: #A9B3B7 !important;
}

.button_selected {
	background-color: #5FB1D9 !important;
}

/*====================================================================*/
/* FOOTER
/*====================================================================*/
#footer {
    border-top: 1px solid #DDDDDD;
    clear: both;
    float: right;
    padding: 10px 100px;
    text-align: center;
}

#footer	p {
	font-size: 1.3em;
	margin: 0;
}

/*====================================================================*/
/* MAIN
/*====================================================================*/
#main {
	clear: both;
	overflow: auto;
}

#main_left {
    background-color: #FAFBFA;
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    border-radius: 2px;
    clear: left;
    float: left;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 240px;
}

#main_right {
    overflow: hidden;
    margin: 30px 30px 30px 0;
    max-width: 1160px;
}

/*====================================================================*/
/* SIDEBAR
/*====================================================================*/
div.menu_box {
	margin: 25px 0 25px 25px;
}

div.menu_box div.title {
	font-weight:normal;
	color: #333333;
	line-height: 22px;
	padding: 0 0 0 26px;
	font-size: 1.7em;
	margin-bottom: 8px;
	background-position: left center;
	background-repeat: no-repeat;
}

div.menu_box a {
	text-decoration: none;
	display: block;
	padding: 5px 0 5px 0;
	font-size: 1.3em;
	color: #555555;
}

div.menu_box a:hover {
	background-color: #F5F5F5;
}

.img_side_posts {
	background-image: url('img/side_posts.png');
}

.img_side_manager {
	background-image: url('img/side_manager.png');
}

.img_side_settings {
	background-image: url('img/side_settings.png');
}

.img_side_plugins {
	background-image: url('img/side_plugins.png');
}

/*====================================================================*/
/* DASHBOARD
/*====================================================================*/
div.dashboard_left {
    border-right: 1px solid #DDDDDD;
    float: left;
    margin-right: 30px;
    max-width: 550px;
    padding-right: 30px;
    width: 45%;
}

div.dashboard_right {
    float: left;
    margin-right: 30px;
    width: 45%;
    max-width: 550px;
}

div.dashboard_box {
    background: #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

div.dashboard_title {
	font-size: 1.8em;
	margin-bottom: 20px;
	padding-left: 32px;
	background-position: left center;
	background-repeat: no-repeat;
	line-height: 22px;
	color: #555;
}

.img_dashboard_comments {
	background-image: url('img/dashboard_comments.png');
}

.img_dashboard_notifications {
	background-image: url('img/dashboard_notifications.png');
}

.img_dashboard_drafts {
	background-image: url('img/dashboard_drafts.png');
}

p.empty {
	font-size: 1.2em;
	font-style: italic;
}

/* Drafts */
div.dashboard_box	a.draft {
	padding: 15px 15px;
	margin-bottom: 10px;
    border-radius: 2px 2px 2px 2px;
    display: block;
    background: #F9F9F9;
	font-size: 1.5em;
	color: #333;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

div.dashboard_box	a.draft:hover {
	text-decoration: none;
	background: #F4F4F4;
}

/* Last comments */
div.dashboard_box	a.last_comments {
	padding: 15px;
	margin-bottom: 10px;
    border-radius: 2px 2px 2px 2px;
    display: block;
    background: #F9F9F9;
    color: #333;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

div.dashboard_box	a.last_comments:hover {
	text-decoration: none;
	background: #F4F4F4;
}

div.dashboard_box	a.last_comments	div.content {
	margin-bottom: 5px;
	font-size: 1.2em;
}

div.dashboard_box	a.last_comments	div.info {
	margin-bottom: 5px;
	font-size: 1.1em;
	color: #AAAAAA;
}

/* Notifications */
div.notification {
	padding: 10px 0 10px 56px;
	margin-bottom: 10px;
    border-radius: 2px 2px 2px 2px;
    display: block;
}

div.notification	div.type {
	margin-bottom: 5px;
	font-size: 1.2em;
}

div.notification	div.info {
	margin-bottom: 5px;
	font-size: 1.1em;
	color: #AAAAAA;
}

.img_notification_session_start {
	background: url("img/notification_session_start.png") no-repeat scroll 16px center #F9F9F9;
    border-left: 4px solid #009AD7;
}

.img_notification_session_fail {
	background: url("img/notification_session_fail.png") no-repeat scroll 16px center #F9F9F9;
    border-left: 4px solid #ED4545;
}

.img_notification_comment {
	background: url("img/notification_comment.png") no-repeat scroll 16px center #F9F9F9;
    border-left: 4px solid #00B2C2;
}

/*====================================================================*/
/* FORMS
/*====================================================================*/
div.form_block {
	margin-bottom: 22px;
	font-size: 1.3em;
}

div.form_block	input[type="text"],
div.form_block	input[type="password"],
div.form_block	textarea {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #C4C4C4;
	border-radius: 2px;
	color: #858585;
	padding: 10px 8px;
	outline:none; /* not focus border on chrome */
	resize: none;
}

div.form_block	input[type="text"]:hover,
div.form_block	input[type="text"]:focus,
div.form_block	textarea:hover,
div.form_block	textarea:focus {
	border-color: #4EAFE3;
	box-shadow: 0px 1px 1px #4EAFE3;
}

div.form_block	input[type="text"].little {
	margin-right: 10px;
	text-align: center;
	width: 50px;
	padding: 5px;
}

div.form_block		select {
	width: 100%;
	padding: 6px;
}

div.form_block		select.little {
	width: 70px;
	padding: 5px;
	margin-right:10px;
}

div.form_block	textarea.wysiwyg {
	height: 502px;
	resize: vertical;
}

div.form_block		input[type="checkbox"].float {
	vertical-align: middle;
	margin-left: 0px;
}

div.form_block		label {
	margin-bottom:2px;
}

div.form_block		label.for_checkbox {
	margin-left: 3px;
	margin-bottom: 0;
}

div.form_block		label.blocked {
	display:block;
}

div.form_block		div.input_tip {
	color: #777;
	font-style: italic;
	font-size: 0.85em;
	margin-top: 2px;
}

div.form_block		input[type="submit"].draft,
div.form_block		input[type="submit"].save,
div.form_block		input[type="button"].save,
div.form_block		input[type="button"].disabled {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
    color: #444444;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    padding: 7px 33px;

	background: #F1F1F1;
	background: -moz-linear-gradient(center top, #F5F5F5, #F1F1F1);
	background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#F1F1F1));
}

div.form_block		input[type="submit"].save:hover,
div.form_block		input[type="button"].save:hover {
	background: #E1E1E1;
	background: -moz-linear-gradient(center top, #EFEFEF, #E1E1E1);
	background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#E1E1E1));
}

div.form_block		input[type="button"].disabled {
	color: #CCC;
}

div.form_block		input[type="submit"].draft {
	margin-left:10px;
	color: #FFFFFF;

	background: #54A1E6;
	background: -moz-linear-gradient(center top , #54A1E6, #498AC6);
	background: -webkit-gradient(linear, left top, left bottom, from(#54A1E6), to(#498AC6));
}

div.form_block		input[type="submit"].draft:hover {
	background: #3EACBA;
	background: -moz-linear-gradient(center top, #498AC6, #3D74A7);
	background: -webkit-gradient(linear, left top, left bottom, from(#498AC6), to(#3D74A7));
}

div.form_block		.uploader_button {
    background: url("img/picture.png") no-repeat scroll 14px 6px #F0F0EE;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    padding: 8px 16px 8px 45px;
    float:right;
}

div.form_block		.toggle_button {
    background: #F0F0EE;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    padding: 8px 8px 8px 8px;
}

input[type=file].hidden {
	height: 0px;
	opacity: 0;
	display: block;
}

/*====================================================================*/
/* TABLES
/*====================================================================*/
table {
	border-collapse: collapse;
	border-spacing: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    font-size: 1.3em;
}

table thead {
	background: #3890B7;
	color: #FFFFFF;
}

table thead	th {
	line-height: 23px;
	padding: 6px 10px 8px;
	vertical-align: top;
	border-right: 1px solid #FFFFFF;
}

table tr td {
	border-bottom: 1px solid #E7E7E7;
	line-height: 23px;
	padding: 6px 10px 8px;
	vertical-align: top;
}

table td.content {
	text-align: left;
	width: 330px;
}

table td.category {
	text-align: left;
	width: 70%
}

table div.options a {
	margin-right: 10px;
}

div.pager {
    font-size: 1.3em;
    text-align: left;
    padding-top: 10px;
}

div.pager	a {
	display: inline-block;
	padding: 4px 8px;
	border: 1px solid #ccc;
	background: #F9F9F9;
	margin: 0 5px;
}


/*====================================================================*/
/* PLUGINS
/*====================================================================*/
div.plugin {
    background-color: #FAFBFA;
    border: 1px solid #DDDDDD;
    border-radius: 2px 2px 2px 2px;
    font-size: 13px;
    margin-bottom: 15px;
    padding: 12px;
}

div.plugin	h3.name {
	margin: 0;
	font-size: 1.1em;
	font-weight: normal;
	border-bottom: 1px dotted #CCCCCC;
	padding-bottom: 2px;
}

div.plugin	h4.description {
	margin: 8px 0;
	font-weight: normal;
}

div.plugin	a {
	margin-right: 15px;
}

/*====================================================================*/
/* PLUGINS: FORMS
/*====================================================================*/
form.plugins {
	font-size: 1.3em;
}

form.plugins	input[type="text"],
form.plugins	input[type="password"],
form.plugins	textarea {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #C4C4C4;
	border-radius: 2px;
	color: #858585;
	padding: 10px 8px;
	outline:none; /* not focus border on chrome */
	resize: none;
	margin-bottom: 15px;
}

form.plugins	input[type="text"]:hover,
form.plugins	input[type="text"]:focus,
form.plugins	input[type="password"]:hover,
form.plugins	input[type="password"]:focus,
form.plugins	textarea:hover,
form.plugins	textarea:focus {
	border-color: #4EAFE3;
	box-shadow: 0px 1px 1px #4EAFE3;
}

form.plugins	input[type="file"] {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #C4C4C4;
	border-radius: 2px;
	color: #858585;
	padding: 10px 8px;
	outline:none; /* not focus border on chrome */
	resize: none;
	margin-bottom: 15px;
}

form.plugins	input[type="button"].save,
form.plugins	input[type="submit"].save,
form.plugins	input[type="button"].disabled {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
    color: #444444;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    padding: 7px 33px;

	background: #F1F1F1;
	background: -moz-linear-gradient(center top, #F5F5F5, #F1F1F1);
	background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#F1F1F1));
}

form.plugins		input[type="button"].save:hover,
form.plugins		input[type="submit"].save:hover {
	background: #E1E1E1;
	background: -moz-linear-gradient(center top, #EFEFEF, #E1E1E1);
	background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#E1E1E1));
}

form.plugins		input[type="button"].disabled {
	color: #CCCCCC;
}

form.plugins		select {
	width: 100%;
	padding: 6px;
	margin-bottom: 15px;
}

form.plugins		label {
	margin-bottom: 2px;
	display: block;
}

form.plugins		div.tip {
    color: #777777;
    font-size: 0.85em;
    font-style: italic;
    margin-bottom: 15px;
    margin-top: -13px;
}