/*====================================================================*/
/* BODY
/*====================================================================*/
body {
	font-family: arial, sans-serif;
	background-color: #F9F9F9;
	margin: 0;
	padding: 0;
	font-size: 62.5%;
	color: #333333;
	overflow-y: scroll;
}

#container {
	width: 100%;
}

/*====================================================================*/
/* HEAD
/*====================================================================*/
#head {
	margin-top:10px;
}

#head	div.buttons {
	margin-left: 300px;
	height: 60px;
	overflow: auto;
}

#head	div.buttons		a.button {
	float: left;
	display: block;
	height: 60px;
	width: 90px;
	background-color: #e6e6e6;
	background-position: center center;
	background-repeat: no-repeat;
}

#head	div.title {
	font-size: 2.3em;
	background-color: #2db7c8;
	color: #FFFFFF;
	padding: 22px 0 22px 300px;
}

.img_button_mrnibbler {
	background-image: url('img/button_mrnibbler.png');
}

.img_button_post {
	background-image: url('img/button_post.png');
}

.img_button_dashboard {
	background-image: url('img/button_dashboard.png');
}

.img_button_video {
	background-image: url('img/button_video.png');
	background-color: #cccccc !important;
}

.img_button_quote {
	background-image: url('img/button_quote.png');
	background-color: #b3b3b3 !important;
}

.button_selected {
	background-color: #2db7c8 !important;
}

/*====================================================================*/
/* MAIN
/*====================================================================*/
#main {
	clear: both;
	overflow: auto;
}

#main_left {
    clear: left;
    float: left;
    margin-right: 10px;
    width: 290px;
}

#main_right {
    border-right: 1px solid #F1F1F1;
    max-width: 80%;
    overflow: hidden;
    padding-right: 30px;
}

/*====================================================================*/
/* SIDEBAR
/*====================================================================*/
div.menu_box {
	margin: 25px 0;
}

div.menu_box a {
	text-decoration: none;
	display: block;
	padding: 5px 30px;
	font-size: 1.2em;
}

div.menu_box a:hover {
	background-color: #F5F5F5;
}

div.menu_box div.title {
	font-weight:normal;
	color: #333;
    line-height: 22px;
    padding: 0 28px;
    font-size: 1.5em;
}
