/* ============================== */
/* BODY
/* ============================== */

body {
	font-family: arial,sans-serif;
	background-color: #FEFEFE;
	margin: 0;
	padding: 0;
	font-size: 62.5%;
	color: #555;
	overflow-y: scroll;
}

#container {
	width: 100%;
	background-color: #fff;
}

/* ============================== */
/* HEAD
/* ============================== */

#container_head {
	background: url("img/logo.png") no-repeat scroll 30px 50% #F9F9F9;
	border-bottom: 1px solid #EBEBEB;
	font-size: 1.1em;
	padding-right: 30px;
	text-align: right;
}

#container_head	a {
    color: #333333;
    display: inline-block;
    height: 40px;
    line-height: 42px;
    padding-left: 36px;
    padding-right: 10px;
}

#container_head a.dashboard {
	background: url("img/dashboard.png") no-repeat 10px center transparent;
}

#container_head a.home {
	background: url("img/home.png") no-repeat 10px center transparent;
}

#container_head a.logout {
	background: url("img/logout.png") no-repeat 10px center transparent;
}

#container_head	a:hover {
	text-decoration: none;
	background-color: #f1f1f1;
}

/* ============================== */
/* SUBHEAD
/* ============================== */

#container_subhead {
    border-bottom: 1px solid #EBEBEB;
    margin-bottom: 20px;
    padding: 20px 0 20px 230px;
}

#container_subhead	h2.title {
    color: #0089F2;
    font-size: 2.2em;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

/* ============================== */
/* MAIN
/* ============================== */

#container_float {
	clear: both;
	overflow: auto;
}

#container_left {
    clear: left;
    float: left;
    margin-right: 10px;
    width: 220px;
}

#container_right {
    border-right: 1px solid #F1F1F1;
    max-width: 80%;
    overflow: hidden;
    padding-right: 30px;
}

#alert {
    background-color: #EDF4FF;
    border: 1px solid #CDD4EF;
    border-radius: 2px 2px 2px 2px;
    font-size: 1.3em;
    margin-bottom: 20px;
    padding: 20px;
}

a {
	color: #2361D3;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

div.separator {
    clear: both;
    color: #0089F2;
    font-size: 1.6em;
    font-style: italic;
    margin: 10px 0;
    padding: 0;
}

.remove_margin_top {
	margin-top: 0;
}

p.no_comments {
	font-size: 1.2em;
	font-style: italic;
}

/* ============================== */
/* UPLOADER
/* ============================== */
#popup {
	background: rgba(1, 1, 1, 0.5);
	display: none;
	left: 0;
	top: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1001;
}

#popup-wrap {
display:table;
}

#popup-content {
display:table-cell; vertical-align:middle;
background: #fff;
}


/* ============================== */
/* DASHBOARD Quick Links
/* ============================== */

div.dashboard_qlinks {
    float: left;
    margin-right: 20px;
    width: 45%;
}

div.dashboard_qlinks	a.item {
    border-bottom: 2px solid #F1F1F1;
    display: block;
    padding: 20px 0 20px 60px;
    text-align: left;
    text-decoration: none;
}

div.dashboard_qlinks	a.item:hover {
	border-bottom: 2px solid #ccc;
}

div.dashboard_qlinks	.bg_post_simple {
	background: url(img/pencil.png) 10px 50% no-repeat;
}

div.dashboard_qlinks	.bg_post_video {
	background: url(img/film.png) 10px 50% no-repeat;
}

div.dashboard_qlinks	.bg_post_quote {
	background: url(img/quotes-left.png) 10px 50% no-repeat;
}

div.dashboard_qlinks	.bg_settings {
	background: url(img/cog.png) 10px 50% no-repeat;
}

div.dashboard_qlinks	a.item span.type {
	font-size: 1.4em;
	display: block;
}

div.dashboard_qlinks	a.item span.description {
	font-size: 1.2em;
	display: block;
	color: #555;
}

/* ============================== */
/* DASHBOARD Notifications
/* ============================== */

div.dashboard_notifications {
    float: right;
    margin-right: 20px;
    width: 45%;
}

div.notification,
a.notification {
	padding: 10px 0 10px 56px;
	margin-bottom: 10px;
    border-radius: 2px 2px 2px 2px;
    display: block;
}

div.notification_session_start {
	background: url("img/user.png") no-repeat scroll 16px center #F9F9F9;
    border: 1px solid #EEEEEE;
    font-size: 12px;
}

div.notification_session_fail {
	background: url("img/wondering.png") no-repeat scroll 16px center #F9F9F9;
    border: 1px solid #EEEEEE;
    font-size: 12px;
}

div.notification_comment {
	background: url("img/bubble.png") no-repeat scroll 16px center #F9F9F9;
    border: 1px solid #EEEEEE;
    font-size: 12px;
}

/* ============================== */
/* DASHBOARD Last comments
/* ============================== */

div.dashboard_last_comments {
    float: left;
    margin-right: 20px;
    width: 45%;
    margin-top: 25px;
}

a.notification_last_comments {
	background: url('img/bubble.png') no-repeat 16px center #F9F9F9;
    border: 1px solid #EEEEEE;
    font-size: 12px;
    text-decoration: none;
    color: #555555;
}

a.notification_last_comments:hover {
	background-color: #f1f1f1;
}

div.notification	div.type,
a.notification	div.type {
	margin-bottom: 5px;
}

/* ============================== */
/* FORMS */
/* ============================== */
div.form_block {
	margin-bottom: 22px;
	font-size: 1.3em;
}

div.form_block	input[type="text"],
div.form_block	input[type="password"],
div.form_block	textarea {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #C4C4C4;
	border-radius: 2px;
	color: #858585;
	padding: 8px;
	outline:none;
	resize: none;
}

div.form_block	input[type="text"].little {
	margin-right: 10px;
	text-align: center;
	width: 70px;
}

div.form_block		select {
	border: 1px solid #ccc;
	width: 100%;
	padding: 6px;
}

div.form_block	textarea.wysiwyg {
	height: 402px;
	resize: vertical;
}

div.form_block		input[type="checkbox"].float {
	vertical-align: middle;
	margin-left: 0px;
}

div.form_block		label {
	margin-bottom:2px;
}

div.form_block		label.for_checkbox {
	margin-left: 3px;
	margin-bottom: 0;
}

div.form_block		label.blocked {
	display:block;
}

div.form_block		div.input_tip {
	color: #777;
	font-style: italic;
	font-size: 0.85em;
}

div.form_block		input[type="submit"].save,
div.form_block		input[type="submit"].draft,
div.form_block		input[type="button"].save {
	background-color: #337ACC;
	border: 0 none;
	border-radius: 2px 2px 2px 2px;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
    font-size: 1em;
    padding: 6px 32px;
}

div.form_block		input[type="submit"].save:hover,
div.form_block		input[type="button"].save:hover {
	background-color: #1B70C9;
}

div.form_block		input[type="submit"].draft {
	background-color: #616161;
	margin-left:10px;
}

div.form_block		input[type="submit"].draft:hover {
	background-color: #313131;
}

div.form_block		.uploader_button {
    background: url("img/picture.png") no-repeat scroll 5px 0 #F0F0EE;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    padding: 8px 16px 8px 45px;
    float:right;
}

div.form_block		.toggle_button {
    background: #F0F0EE;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    padding: 8px 8px 8px 8px;
}

input[type=file].hidden {
	height: 0px;
	opacity: 0;
	display: block;
}

/* ============================== */
/* PLUGIN LIST */
/* ============================== */

div.plugin {
    background-color: #F9F9F9;
    border: 1px solid #EBEBEB;
    border-radius: 2px 2px 2px 2px;
    font-size: 13px;
    margin-bottom: 15px;
    padding: 12px;
}

div.plugin	h3.name {
	margin: 0;
	font-size: 1em;
	font-weight: normal;
	border-bottom: 1px dotted #CCCCCC;
	padding-bottom: 2px;
}

div.plugin	h4.description {
	margin: 8px 0;
	font-weight: normal;
}

div.plugin	a {
	margin-right: 15px;
}

/* ============================== */
/* FORMS FOR PLUGINS */
/* ============================== */
form.plugins {
	font-size: 1.3em;
}

form.plugins	input[type="text"],
form.plugins	input[type="password"],
form.plugins	textarea,
form.plugins	select {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #C4C4C4;
	border-radius: 2px;
	color: #858585;
	padding: 8px;
	outline:none;
	resize: none;
	margin-bottom: 15px;
}

form.plugins		label {
	margin-bottom: 2px;
	display: block;
}

/*////////////////////////////////////*/

a.remove {
	color: #BC0000;
}

a.button {
	font-size: 12px;
}




/* ============================== */
/* POST LIST */
/* ============================== */

div.list_box,
div.comment_box {
	padding: 15px 0;
	border-top: 1px solid #EBEBEB;
	font-size: 1.2em;
}

div.list_box:hover,
div.comment_box:hover {
	background-color:#F9F9F9;
}

div.list_box	div.float,
div.comment_box	div.float {
	overflow: auto;
}

div.list_box	div.left,
div.comment_box	div.left {
	float:left;
	width: 85%;
}

div.list_box	div.right,
div.comment_box	div.right {
	float:right;
}

div.list_box	div.options,
div.comment_box	div.options {
	margin-top: 8px;
}

div.list_box	a,
div.comment_box	a {
	margin-right: 10px;
}

div.list_box		h3.date,
div.comment_box		h3.date {
	margin: 0 5px 0 0;
	font-weight:normal;
	color: #666;
	display: block;
	font-size: 1em;
}

div.list_box	h3.title {
	margin: 0;
	font-weight:normal;
	display: inline-block;
}

div.list_box	h3.type {
	margin: 0 5px 0 0;
	font-weight:normal;
	font-style: italic;
	color: #F7C305;
	display: inline-block;
	width: 100%;
	font-size: 1em;
}

div.comment_box		h3.content {
	margin: 0 5px 0 0;
	font-weight:normal;
	font-style: italic;
	color: #666;
	display: block;
	font-size: 14px;
}

div.comment_box		h3.author {
	margin: 5px 0 0 0;
	font-weight:normal;
	font-style: italic;
	color: #444;
	display: block;
	font-size: 13px;
}

div.pager {
	border-top: 1px solid #EBEBEB;
	padding: 8px 0;
	font-size: 1.3em;
}

div.pager	a {
	padding: 4px 8px;
}


/* ============================== */
/* COMMENTS LIST */
/* ============================== */
div.comment_box {

}



/* ============================== */
/* SIDEBAR Update*/
/* ============================== */

div.menu_box {
	margin-bottom: 25px;
	padding: 0 0 0 20px;
}

div.menu_box a {
	text-decoration: none;
	display: block;
	padding: 5px 30px;
	font-size: 1.2em;
}

div.menu_box a:hover {
	background-color: #F5F5F5;
}

div.menu_box div.title {
	font-weight:normal;
	color: #333;
    line-height: 22px;
    padding: 0 28px;
    font-size: 1.5em;
}

div.menu_box div.bg_posts {
	background: url("img/file.png") no-repeat scroll 3px 0 transparent;
}

div.menu_box div.bg_settings {
	background: url("img/settings.png") no-repeat scroll 3px 0 transparent;
}

div.menu_box div.bg_plugins {
	background: url("img/power-cord.png") no-repeat scroll 3px 0 transparent;
}
