@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,200,300italic,700,700italic);

/* ============================== */
/* BODY */
/* ============================== */

body {
	font-family: 'Open Sans',arial,sans-serif;
	margin: 0;
	padding: 0;
	font-size: 0.8em;
	color: #646464;
	background: #FFF;
}

#wrapper {
    margin: 40px auto;
    overflow: auto;
	max-width: 800px;
}

#right {
    margin-right: 310px;
    padding: 20px 20px 0;
}

#left {
	float: right;
	margin-right: 15px;
	width: 290px;
}

a {
	color: #008DDE;
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

div.separator {
	background: #ddd;
	margin: 20px 0;
	height: 1px;
}

/* ============================== */
/* ABOUT */
/* ============================== */
#about {
	padding: 20px;
}

#about	ul {
	margin: 0;
	padding: 0;
	overflow: auto;
}

#about	li {
    display: block;
    font-size: 1.1em;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

#about	li.name {
    font-size: 1.6em;
    font-weight: normal;
    margin-top: -7px;
}

#about	li.image {
	float: left;
	overflow: auto;
	width:120px;
}

#about	img.plugin_about {
    max-width:103px;
}

/* ============================== */
/* PLUGINS */
/* ============================== */
div.plugin_box {
    overflow: auto;
	padding: 20px;
}

div.plugin_box ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

div.plugin_box	h3.title {
	font-weight: lighter;
	margin-bottom: 0;
	text-align: right;
	clear: both;
}

/* ============================== */
/* PLUGIN CATEGORIES */
/* ============================== */
div.plugin_categories	li.category {
    display: inline-block;
    font-size: 1.3em;
    padding: 2px 5px;
}

/* ============================== */
/* PLUGIN TWITTER */
/* ============================== */
div.plugin_twitter_static	ul {

}

div.plugin_twitter_static	li {
	display: block;
	word-wrap: break-word;
}

div.plugin_twitter_static	li.username {
    background: url("img/twitter.png") no-repeat;
    line-height: 24px;
    padding-left: 23px;
}

div.plugin_twitter_static	li.tweet {
	border-left: 4px solid #EEEEEE;
	margin: 15px 0;
	padding-left: 20px;
}

/* ============================== */
/* PLUGIN FLICKR */
/* ============================== */
div.plugin_flickr {
	font-size: 0.9em;
}

div.plugin_flickr	li {
	float: left;
	margin: 5px;
}

/* ============================== */
/* POSTS */
/* ============================== */

#posts {
	background: #FAFAFA;
	padding: 20px;
}

article.post {
    margin-bottom: 20px;
    overflow: hidden;
}

article.post	header.post {
	margin-bottom: 5px;
}

article.post	header.post		h1.title {
	font-size: 1.5em;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding-left: 32px;
}

.bg_icon_simple {
	background: url("img/simple.png") no-repeat;
}

.bg_icon_quote {
	background: url("img/quote.png") no-repeat;
}

.bg_icon_video {
	background: url("img/video.png") no-repeat;
}

article.post	footer.post {
	clear: both;
	font-size: 0.8em;
}

article.post	pre {
	background: url("img/bgcode.png");
	border: 1px solid #E8E8E8;
	line-height: 23px;
	margin: 0;
	padding: 0 5px 0 5px;
	white-space: pre-wrap;
	font-size: 0.9em;
}

article.post	.console {
	background: url("img/console.png") no-repeat scroll 10px center #F1F1F1;
	display: block;
	line-height: 50px;
	margin: 5px 0;
	padding-left: 60px;
}

article.post	img:not(.captcha) {
	max-width:100%;
}

article.post 	blockquote {
	font-size: 2em;

}

article.post	h1,
article.post	h2,
article.post	h3,
article.post	h4,
article.post	h5 {
	font-weight: normal;
}


/* ============================== */
/* FOOTER */
/* ============================== */
#foot {
	text-align: right;
	font-size: 0.9em;
	max-width: 1240px;
	overflow: auto;
	margin: 30px auto;
}

/* ============================== */
/* PAGER */
/* ============================== */
#pager {
	overflow: auto;
	margin: 20px 0;
}

#pager	a.newer {
	float: right;
}

#pager	a.older {
	float: left;
}

/* ============================== */
/* COMMENT LIST */
/* ============================== */
#comment_list {
	margin-top: 30px;
	width: 70%;
}

#comment_list	h2 {
	font-style: italic;
	font-weight: normal;
	margin: 10px 0;
}

#comment_list	div.comment {
	border-left: 2px solid #FFAC00;
	margin: 0 0 10px;
	padding: 10px;
	overflow: auto;
}

#comment_list	span.author_name {
	font-weight: bold;
}

#comment_list	span.date {
	margin-left: 10px;
	font-style: italic;
}

#comment_list	span.content {
	font-style: italic;
	display: block;
}

#comment_list	img.avatar {
	float:left;
	margin-right: 10px;
}

/* ============================== */
/* COMMENT FORM */
/* ============================== */
#comment_form {
	margin-top: 30px;
	width: 70%;
}

#comment_form	h2 {
	font-style: italic;
	font-weight: normal;
	margin: 10px 0;
}

#comment_form	h3.alert {
	color: #BE1C54;
	font-style: italic;
	margin: 0 0 15px;
}

#comment_form	input[type="text"],
#comment_form	textarea {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #C4C4C4;
	border-radius: 2px;
	color: #858585;
	padding: 8px;
	outline:none;
	resize: none;
	margin-bottom: 15px;
	font-family: font-family: 'Open Sans', helvetica,arial,sans-serif;
	font-size: 0.9em;
}

#comment_form	input[type="text"].captcha {
	width: 50%;
	float: left;
}

#comment_form	input[type="submit"] {
	display: block;
	clear: left;
	padding: 3px 8px;
}



