@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic&subset=latin,cyrillic);

/* --- Body --- */
body {
	font-family: 'Open Sans',arial,sans-serif;
    background: url("img/bg_body.png") repeat scroll 0% 0% rgb(195, 220, 220);
	margin: 0;
    padding: 1.5%;
	font-size: 62.5%;
	color: #616161;
}

#container {
    margin: 0 auto;
    width: 980px;
    max-width: 100%;
}

a {
	color: #006AC8;
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* --- Header --- */
#head {
	margin: 0 auto;
    width: 980px;
    max-width: 100%;
	overflow: hidden;
	font-weight: lighter;
}

#head	a.name {
	color: #333;
	text-decoration: none;
	font-size: 3.6em;
}

.slogan {
	color: #777777;
	font-size: 2.5em;
    padding-left: 10%;
}

/* --- Navigation Bar --- */
#navbar {
    font-weight: bold;
    text-align: center;
    margin: 0;
    overflow: hidden;
    padding: 8px 0 0;
    width: 100%;
}

.navbutton {
    border-bottom: 2px solid transparent;
    float: left;    
    margin-left: 25px;
    opacity: 0.5;
    padding: 8px;
    font-size: 1.5em;
}

.navbutton:hover {
    border-bottom: 2px solid rgb(51, 51, 51);
    opacity: 1;
}

.navbutton a:link, .navbutton a:visited {
    color: rgb(51, 51, 51);
    text-decoration: none;
    font-weight: bold;
}

/* --- Main Content --- */
#main {
    background: rgb(255, 255, 255); /* Fall-back for old browsers */ 
    background: rgba(255, 255, 255, .7);
    box-shadow: 0px 7px 10px -3px rgb(100, 100, 100);
    padding: 4%;
    overflow: auto;
	font-size: 1.4em;
}

#left {
    margin-right: 280px;
}

#sidebar {
    box-shadow: -5px 0px 5px -5px #999999;
	float: right;
    max-width: 30%;
	width: 200px;
	margin-right: 10px;
}

/* --- Footer --- */
#foot {
	font-size: 1.1em;
    overflow: hidden;
    padding: 2%;
}

#foot div.license {
    float: left;
    text-align: left;
    width: 70%;
}

#foot div.atom {
    float: right;
    text-align: right;
    width: 20%;
}

/* --- 404 Error Page --- */
div.page_404 {

}

/* --- Pager --- */
#pager {
	overflow: auto;
	text-align: center;
}

#pager	a.home {
    float: left;
	padding: 0 5px;
}

#pager	a.newer {
	float: right;
	padding: 0 5px;
}

#pager span.separator {
    float: right;
    padding: 0 5px;
}

#pager	a.older {
	float: right;
	padding: 0 5px;
}
