<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<config><name>prueba</name><slogan>lala</slogan><footer>Powered By Nibbleblog - Theme Clean</footer><about/><language>english</language><timezone>0</timezone><theme>clean</theme><url>http://localhost</url><path>/nibbleblog/</path><rewriteurl>0</rewriteurl><items_rss>4</items_rss><items_page>4</items_page><timestamp_format>m.d.y</timestamp_format><advanced_post_options>1</advanced_post_options><friendly_urls></friendly_urls></config>
