@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic);

/* ============================== */
/* BODY */
/* ============================== */

body {
	font-family: 'Open Sans',arial,sans-serif;
	background-color: #DDD;
	margin: 0;
	padding: 10px;
	font-size: 0.875em;
	color: #555;
}

#container {
    overflow: auto;
    background: #FFF;
}

#main {
    margin: 0 auto;
    max-width: 1240px;
    padding: 0 20px;
}

a {
	color: #327CCB;
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	color: #2BA6CB;
	text-decoration: underline;
}

/* ============================== */
/* HEADER */
/* ============================== */
#head {
	overflow: auto;
	margin: 40px 0;
}

#head	div.avatar {
	text-align: center;
	font-weight: lighter;
}

#head	div.avatar	ul {
	margin: 0;
	padding: 0;
}

#head	div.avatar	li {
	margin: 0;
	padding: 0;
	display: block;
}

#head	div.avatar	li.image {
    border: 1px solid #F1F1F1;
    border-radius: 150px 150px 150px 150px;
    height: 180px;
    margin: 0 auto;
    overflow: hidden;
    padding: 8px;
    width: 180px;
}

#head	img {
    border-radius: 150px 150px 150px 150px;
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

#head	div.avatar	li.name {
	font-weight: lighter;
	font-size: 2.3em;
	color: #555;
}

#head	div.avatar	li.about {
    font-size: 1.4em;
    font-weight: lighter;
    margin: 0 auto;
    width: 50%;
    color: #777;
}

#head a {
	text-decoration: none;
}


/* ============================== */
/* HEADER POST */
/* ============================== */
#head_post {
	overflow: auto;
	margin: 10px 0;
	text-align: center;
}

#head_post	a.name {
	text-decoration: none;
	color: #555;
	font-size: 0.9em;
}

#head_post	span.slogan {
	color: #327CCB;
}

/* ============================== */
/* FOOTER */
/* ============================== */
#foot {
	text-align: right;
	margin: 0 20px;
}

/* ============================== */
/* PAGER */
/* ============================== */
#pager {
	overflow: auto;
}

#pager	a.newer {
	float: right;
}

#pager	a.older {
	float: left;
}

/* ============================== */
/* POST VIEW*/
/* ============================== */
article.post {
	margin-top: 75px;
	margin-bottom: 75px;
	clear: both;
	overflow: auto;
}

article.post	pre {
	background: url("img/bgcode.png");
	border: 1px solid #E8E8E8;
	line-height: 23px;
	margin: 0;
	padding: 0 5px 0 5px;
	white-space: pre-wrap;
	font-size: 0.9em;
}

article.post	.console {
	background: url("img/console.png") no-repeat scroll 10px center #F1F1F1;
	display: block;
	line-height: 50px;
	margin: 5px 0;
	padding-left: 60px;
}

article.post	img:not(.captcha) {
	max-width:100%;
}

article.post 	blockquote {
	font-size: 2em;
}

article.post	footer.post {
    clear: both;
    margin-top: 20px;
}

article.post	footer.post		span.date {
	margin-right: 10px;
}

article.post	h1,
article.post	h2,
article.post	h3,
article.post	h4,
article.post	h5 {
	font-weight: normal;
}

article.post	h1 {
	font-size: 1.8em;
}

article.post	h1.title {
	color: #222222;
	font-size: 2em;
	margin: 0;
}


/* ============================== */
/* COMMENT LIST */
/* ============================== */
#comment_list {
	margin-top: 30px;
	width: 70%;
}

#comment_list	h2 {
	font-style: italic;
	font-weight: normal;
	margin: 10px 0;
}

#comment_list	div.comment {
	border-left: 2px solid #FFAC00;
	margin: 0 0 10px;
	padding: 10px;
	overflow: auto;
}

#comment_list	span.author_name {
	font-weight: bold;
}

#comment_list	span.date {
	margin-left: 10px;
	font-style: italic;
}

#comment_list	span.content {
	font-style: italic;
	display: block;
}

#comment_list	img.avatar {
	float:left;
	margin-right: 10px;
}

/* ============================== */
/* COMMENT FORM */
/* ============================== */
#comment_form {
	margin-top: 30px;
	width: 70%;
}

#comment_form	h2 {
	font-style: italic;
	font-weight: normal;
	margin: 10px 0;
}

#comment_form	h3.alert {
	color: #BE1C54;
	font-style: italic;
	margin: 0 0 15px;
}

#comment_form	input[type="text"],
#comment_form	textarea {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #C4C4C4;
	border-radius: 2px;
	color: #858585;
	padding: 8px;
	outline:none;
	resize: none;
	margin-bottom: 15px;
	font-family: font-family: 'Open Sans', helvetica,arial,sans-serif;
	font-size: 0.9em;
}

#comment_form	input[type="text"].captcha {
	width: 50%;
	float: left;
}

#comment_form	input[type="submit"] {
	display: block;
	clear: left;
	padding: 3px 8px;
}

/* ============================== */
/* PLUGINS */
/* ============================== */
#plugins {
	margin: 40px 0;
}

/* ============================== */
/* PLUGIN TWITTER */
/* ============================== */
div.plugin_twitter {
	padding: 0;
	margin: 20px 0;
	border-top: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
	height: 58px;
	line-height: 58px;
	overflow: hidden;
}

div.plugin_twitter	ul {
	margin: 0;
	padding: 0;
}

div.plugin_twitter	li {
	margin: 0;
	padding: 0;
	display: inline;
}

div.plugin_twitter	li.username {
	background: url("img/twitter.png") no-repeat 0 -2px;
	margin-right: 5px;
	padding-left: 23px;
}

/* ============================== */
/* PLUGIN CATEGORIES */
/* ============================== */
div.plugin_categories {
	padding: 20px 0;
	margin: 20px 0;
	border-top: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
}

div.plugin_categories	ul {
	margin: 0;
	padding: 0;
	text-align: center;
}

div.plugin_categories	li {
	margin: 0 20px;
	padding: 0;
	display: inline;
	text-transform:uppercase;
}

/* ============================== */
/* PLUGIN ABOUT */
/* ============================== */
div.plugin_about {

}

div.plugin_about	ul {
	margin: 0;
	padding: 0;
	overflow: auto;
}

div.plugin_about	li {
    display: block;
    font-size: 1.3em;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

div.plugin_about	li.image {
	float: left;
	overflow: auto;
	width:70px;
}

div.plugin_about	img.plugin_about {
    max-width:64px;
}