
/* ============================== */
/* BODY */
/* ============================== */

body {
	font-family: helvetica,arial,sans-serif;
	background-color: #F7F7F7;
	margin: 0;
	padding: 0;
	font-size:14px;
	color: #616161;
}

#container {
	margin: 0 auto;
	width: 700px;
	padding: 0 20px;
	border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-top: 10px solid #444444;
    background-color: #FEFEFE;
}

a {
	color: #3C6EB4;
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

pre {
	background: url("img/bgcode.png");
	border: 1px solid #E8E8E8;
	font-size: 12px;
	line-height: 23px;
	margin: 0;
	padding: 0 5px 0 5px;
	white-space: pre-wrap;
}

.console {
	background: url("img/console.png") no-repeat scroll 10px center #F1F1F1;
	display: block;
	line-height: 50px;
	margin: 5px 0;
	padding-left: 60px;
	width:70%;
}

img:not(.captcha) {
	max-width: 690px;
	padding: 4px;
	border: 1px solid #f1f1f1;
}

/* ============================== */
/* HEADER */
/* ============================== */
#head {
	text-align: center;
	margin-top:15px;
	margin-bottom: 15px;
}

#head	a {
	text-decoration: none;
	display: block;
	font-weight: bold;
}

#head	h1 {
	font-size: 44px;
	margin:0;
	color: #616161;
}

#head	h2 {
	font-size: 34px;
	margin:0;
	color: #CCCCCC;
	font-weight: normal;
}

/* ============================== */
/* FOOTER */
/* ============================== */
#foot {
	font-size: 12px;
	text-align: right;
	padding: 10px 0;
}

#foot	p {
	margin:0;
}

/* ============================== */
/* PAGER */
/* ============================== */
#pager {
	overflow: auto;
}

#pager	a.newer {
	float: right;
}

#pager	a.older {
	float: left;
}

/* ============================== */
/* POST VIEW*/
/* ============================== */
article.post {
	margin-bottom: 50px;
}

article.post	header {
	margin-bottom: 10px;
}

article.post	h2.title {
    font-size: 38px;
    font-weight: normal;
    margin: 0;
}

article.post 	blockquote {
    border-left: 4px solid #006699;
    font-size: 38px;
    margin: 0;
    padding-left: 15px;
    width: 85%;
}

article.post	footer.info {
	font-size: 12px;
	margin-top: 10px;
}

article.post	footer.info	span.date {
    display: inline-block;
    margin-right: 10px;
    color: #FFAC00;
}

article.post	a.read_more {
	text-align: center;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	display: block;
}

article.post	a.read_more:hover {
	background: #f1f1f1;
	text-decoration:none;
}
